body {
	font-family: Helvetica,Arial, sans-serif;
	margin: 10px 0px;
	padding: 0px;
}

/*div {
	margin: 50px;
}*/

a {
	color: #1155CC;
}

#wrapper {
	margin: 0 auto;
	max-width: 700px;
}

#header {
	text-align: right;
}

#footer p img {
	width: 150px; 
	height: 60px; 
	margin: 0;
}

#footer p a {
	color: #000000;
}
